[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
latest = "python polling_analysis.py"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
pandas-flavor = "*"
pyjanitor = "*"
seaborn = "*"
statsmodels = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
